/* Styles for Emoji Picker */
.emoji-picker-container {
    position: relative;
    margin-right: 2px;
}

.emoji-icon {
    cursor: pointer;
    font-size: 10px;
}

.emoji-picker-popup {
    width: 350px;
    height: 320px; 
    position: absolute;
    bottom: 32px;
    left: -40px;    
    z-index: 1000;
    background: white !important;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}
