@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  background:#cccccc;
}

/* The scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 4px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* The track (part of the scrollbar that the thumb slides within) */
::-webkit-scrollbar-track {
  color: #333;
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the draggable part */
  border-radius: 10px; /* Rounded corners for the draggable part */
}

/* The draggable part on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}
